<h1> Activation de votre Compte</h1>
<h2>Bonjour </h2>
<p>Vous avez créé un compte sur note site ,<br>
 veuillez cliquer sur le lien ci-dessous pour l'activer </p>

 
<a href="{{ absolute_url(path('activation', {'token':token }))}}"> Activer mon compte</a>