{% extends 'logTemp.html.twig' %}
{% block content %}
<title> Login </title>
<!-- Page Content -->
<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login100-form validate-form" action="{{ path('login') }}" method="post">
					<span class="login100-form-title p-b-33">
						Account Login
					</span>
                        <div class="form-group">
                            <input class="form-control" placeholder="email" required name="_username" type="text" class="form-control">
                            <input class="form-control" placeholder="mdp" required name="_password" type="password" class="form-control">
                        </div>
                        <div class="container-login100-form-btn m-t-20">
                            <button class="login100-form-btn" type="submit">
                                Login
                            </button>
                        </div>
                </form>
            </div>
        </div>
</div>

{% endblock %}
