{% extends "back.html.twig" %}
{% block content %}

    <center>
        <div class="right_col">
            <div class="container">
                <div class="col-md">
                    <h1>Ajouter une formation</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form(form) }}
                </div>
            </div>
        </div>
    </center>
    <style>
        h1 {
            background: linear-gradient(to right, #36ecde, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
{% endblock %}