{% extends 'testing.html.twig' %}
{% block content %}
    <div class="cust-heading">
    <div class="col-md-12" style="margin-left: 15%">
    <div class="section-heading">
        <h4><u>Modifier entretien</u></h4>

        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}