<h1>Verification à l'inscription pour votre évenement</h1>
<p>Nom:{{ contact.nom }}</p>
<p>Expéditeur :{{ contact.email_sender }}</p>
<p>Destinataire:{{ contact.email_receiver }}</p>
<p>Message:{{ contact.message|raw }}</p>