<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="logTemp/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="logTemp/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="logTemp/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="logTemp/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="logTemp/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="logTemp/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="logTemp/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="logTemp/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="logTemp/css/util.css">
    <link rel="stylesheet" type="text/css" href="assets1/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="logTemp/css/main.css">
</head>

{%  block content %} {% endblock %}



<!-- styles-->

<script src="logTemp/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="logTemp/vendor/animsition/js/animsition.min.js"></script>
<script src="logTemp/vendor/bootstrap/js/popper.js"></script>
<script src="logTemp/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="logTemp/vendor/select2/select2.min.js"></script>
<script src="logTemp/vendor/daterangepicker/moment.min.js"></script>
<script src="logTemp/vendor/daterangepicker/daterangepicker.js"></script>
<script src="logTemp/vendor/countdowntime/countdowntime.js"></script>
<script src="logTemp/js/main.js"></script>

</body>
</html>