{% extends 'base.html.twig' %}


{% block content %}

<header id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead">EMPLOI, STAGES, FORMATIONS</h1>
            <p class="tagline">On vous facilite la vie!</p>
            <p><a class="btn btn-default btn-lg" role="button">Plus de Détails</a> <a class="btn btn-action btn-lg" onClick= role="button">S'inscrire</a></p>
        </div>
    </div>
</header>
<style>
    .example-wrapper { margin: 1em auto; max-width: 550px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper ">
 

</div>
{% endblock %}
